<h1>employee-list </h1>
<div class="container" >
    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
                
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let employee of employees">
                <td>{{employee.empId}}</td>
                <td>{{employee.name|title:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.salary | currency}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    